body {
    display: grid;
    background-color: #f4f4f4;
}

h1 {
    margin-left: 10px;
}

h2 {
    margin-left: 10px;
}

.d1 {
    display: grid;
    /*background-color: lightgray;*/
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.d2 {
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

.d3 {

    margin: 10px;
}

.cities_property_list {
    padding-left: 0px;
}

li {
    list-style: none;
}

.l1 {
    background-color: #4c5866 ;
    margin: 5px;
    border-radius: 5px;
    padding-right: 10px;
    display: flex;

}

.l1 p {
    margin-left: auto;
    color: azure;
}

.l1 h4 {
    color: azure;
    margin: 10px 5px;
}

.update{
    display: grid;
    grid-template-columns: 40% 60%;
}

.update_button_desktop {
    width: 170px;
    height: 40px;
    border-radius: 7px;
    font-size: 10pt;
    background-color: #f1fdfd;
    border: none;
    outline: none;
}

.update_button_desktop:hover { background: #8affff; }
.update_button_desktop:active { background: #24c7d6; }

.update_button_mobile{
    width: 25px;
    height: 25px;
    background-image: url("img/refresh.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    display: none;
}

.cities-list {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0px;

}

.current_city {
    grid-template-columns: 50% 50%;

}

.d1 .h{
    margin: auto 10px;
    font-size: xx-large;
}

.cities-list .d1 .d2 img{
    width: 50px;
    height: 50px;
}

.d1_1{
    display: flex;

}

.d1_1 p {
    font-size: xx-large;
}

.d1_1 *{
    margin: auto 0;
}

.del {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: auto;
    background-color: #f1fdfd;
    border: none;
    user-select: none;
    outline: none;
}

.del:hover { background: #8affff; }
.del:active { background: #24c7d6; }


.toolbar {
    display: grid;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    grid-template-columns: 50% 50%;
}

.inp {
    margin: 10px;
    border-radius: 10px;
    flex: auto;
    outline: none;
}

.add {
    display: flex;
    justify-content: flex-end;
}

.add button{
    margin: 10px;
    font-size: x-large;
}

.update {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.current_city_weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current_city_weather img{
    width: 100px;
    height: 100px;
}

.current_city_weather p{
    font-size: 40pt;
    color: dimgray;
    margin-right: 10px;
}

@media screen and (min-width: 1024px) {
    body {
        margin: 0 10%;
    }
}

@media screen and (min-width: 1500px) {
    body {
        margin: 0 20%;
    }
}


@media screen and (max-width: 750px) {
    .current_city {
        grid-template-columns: 100%;
    }

    .cities-list {
        grid-template-columns: 100%;
    }

    .toolbar {
        grid-template-columns: 30% 70%;
    }

    .update_button_desktop{
        display: none;
    }

    .update_button_mobile {
        display: block;
    }
}

.loading{
    color: transparent !important;
    background-image: linear-gradient(100deg, lightgray 30%, #f6f7f8 50%, lightgray 70%) !important;
    background-size: 400% !important;
    animation: loading 1s ease-in-out infinite !important;
}

@keyframes loading {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }

}